{% extends "auctions/layout.html" %}

{% block body %}
	<h1>Create</h1>

	<form method="POST">
		{% csrf_token %}
		<input type="text" name="title" placeholder="Title"><br>
		<textarea name="description" column="50" rows="5" placeholder="Description"></textarea><br>
		<input type="number" name="price" placeholder="Price"><br>
		<input type="number" name="starting_bid" placeholder="Starting bid">
		
		<select name="select_category">
			{% for category in categories %}
				<option value="{{category.name}}">{{category}}</option>
			{% endfor %}
			
		</select>
		<input type="file" name="image_url"><br>
		<input type="submit">
	</form>
{% endblock body %}