{% extends "auctions/layout.html" %}
{% block body %}
<h2>Active Listings</h2>
<div class="listing">
    {% for listing in auction_listing %}
    <div class="card">
        
        <img src="{{listing.image_url.url}}" style="width:18rem;" class="card-img-top">
        <div class="card-body">
            <h3 class="card-title"><a href="{% url 'listing' listingNo=listing.id %}">Listing: {{listing.title}}</a></h3>
            <a href="{% url 'watchlist' item_id=listing.id%}">Add Listing</a>
            <p>{{listing.description}}</p>
            <h3>${{listing.price}}</h3>
            <div>Starting Bid: {{listing.starting_bid}}</div>
            <h4>Details</h4>
            <ul>
                <li>Listed by: {{listing.user.username}}</li>
                <li>Category: {{listing.category}}</li>
            </ul>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}